In [2]:
data_points = [

    (2000, 72.5),

    (2001, 73.1),

    (2002, 73.8),

    (2003, 74.2),

    (2004, 74.7),

    (2005, 75.3),

    (2006, 75.9),

    (2007, 76.5),

    (2008, 76.9),

    (2009, 77.4),

    (2010, 78.0),

    (2011, 78.5),

    (2012, 79.0),

    (2013, 79.5),

    (2014, 80.0),

    (2015, 80.5),

    (2016, 81.0),

    (2017, 81.5),

    (2018, 82.0),

    (2019, 82.5)

]

In [3]:
# First method using a for loop
years = []
expectancies = []

for year, expectancy in data_points:
    years.append(year)
    expectancies.append(expectancy)
    
print(years)
print(expectancies)

[2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]
[72.5, 73.1, 73.8, 74.2, 74.7, 75.3, 75.9, 76.5, 76.9, 77.4, 78.0, 78.5, 79.0, 79.5, 80.0, 80.5, 81.0, 81.5, 82.0, 82.5]

In [4]:
# List comprehension

years = [year for year, _ in data_points]
expectancies = [expectancy for _, expectancy in data_points]

print(years)
print(expectancies)

[2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]
[72.5, 73.1, 73.8, 74.2, 74.7, 75.3, 75.9, 76.5, 76.9, 77.4, 78.0, 78.5, 79.0, 79.5, 80.0, 80.5, 81.0, 81.5, 82.0, 82.5]

In [5]:
data_dict = dict(zip(years, expectancies))
print(data_dict)

{2000: 72.5, 2001: 73.1, 2002: 73.8, 2003: 74.2, 2004: 74.7, 2005: 75.3, 2006: 75.9, 2007: 76.5, 2008: 76.9, 2009: 77.4, 2010: 78.0, 2011: 78.5, 2012: 79.0, 2013: 79.5, 2014: 80.0, 2015: 80.5, 2016: 81.0, 2017: 81.5, 2018: 82.0, 2019: 82.5}

In [6]:
data_dict2 = {}

for item in data_points:
    key, value = item
    data_dict2[key] = value
    
print(data_dict2)

{2000: 72.5, 2001: 73.1, 2002: 73.8, 2003: 74.2, 2004: 74.7, 2005: 75.3, 2006: 75.9, 2007: 76.5, 2008: 76.9, 2009: 77.4, 2010: 78.0, 2011: 78.5, 2012: 79.0, 2013: 79.5, 2014: 80.0, 2015: 80.5, 2016: 81.0, 2017: 81.5, 2018: 82.0, 2019: 82.5}

In [7]:
# Code 8 assignment 
data_list = [('apple', 5), ('banana', 2), ('orange', 8), ('grapes', 3), ('pineapple', 1)]

def convert_to_dictionary(data_list):
    result_dict = {}
    for item in data_list:
        key, value = item
        result_dict[key] = value
    return result_dict

In [8]:
# Using function for conversion
convert_dict = convert_to_dictionary(data_list)

print("Original Data Type : ", data_list)
print("Converted Data Type: ", convert_dict)

Original Data Type :  [('apple', 5), ('banana', 2), ('orange', 8), ('grapes', 3), ('pineapple', 1)]
Converted Data Type:  {'apple': 5, 'banana': 2, 'orange': 8, 'grapes': 3, 'pineapple': 1}